body {
    font-family: 'Montserrat', sans-serif;
}

header, .navbar{
    background-color: #20263F;
}
  
p, li {
    color: #444;
    font-size: 14px;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 58.39px;
    height: 62.24px;
    margin-right: 15px;
}

.row {
    margin: 0;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
    display: flex;
    align-items: center;
}

.navbar-brand .brand-text {
    font-size: 32px;
    font-weight: bold;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

#navbar-links #sair{
    margin-left: 10px;
    background-color: #0D6EFD;
    border-radius: 7px;
    
}

.navbar-expand-lg .navbar-nav .navbar-link {
    padding: 1rem .8rem;
}
  
#nav-container .navbar {
    padding-left: 70px;
    padding-right: 70px;
}

.navbar-nav .btn-primary img {
    margin-right: 8px;
}

.full-height {
    height: 100%;
    overflow: hidden;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page-footer footer{
    background-color: #20263F;
    height: 96px;
}
#page-footer p{
    color: #FFF;
}

#social-icons {
    display: flex;
}

#main-footer {
    display: flex;
    align-items: center;
    height: 96px;
    padding-left: 10px;
    padding-right: 70px;
}

.social-icon {
    margin-right: 10px;
    margin-bottom: 10px
}

.social-icon:last-child {
    margin-right: 0;
}